{% extends 'base.html' %}
{% block title %}За нас{% endblock %}
{% block content %}
<section>
    <h1>За нас</h1>
    <br>
    <div class="welcome-card">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="MR Glass Store Logo" class="welcome-logo">
        <h5><i>"Ние предлагаме висококачествени решения от стъкло за дома, офиса и индустрията."</i></h5>
        <h5><i>"Нашите продукти включват стъклени паравани, душ кабини, стъклени врати и много други."</i></h5>
        <h5><i>"Разгледайте нашите предложения и намерете идеалното стъклено решение за вас!"</i></h5>
    </div>
</section>
{% endblock %}

