{% extends 'base.html' %}
{% block title %}Начало{% endblock %}
{% block content %}
<section>
    <h1><i>Добре дошли в MR glass store</i></h1>
    <h5><i>Ние предлагаме висококачествени решения от стъкло за дома, офиса и индустрията.</i></h5>
    <h5><i>Нашите продукти включват стъклени паравани, душ кабини, стъклени врати и много други.</i></h5>
    <h5><i>Разгледайте нашите предложения и намерете идеалното стъклено решение за вас!</i></h5>
    <h5><i>Свържете се с нас за безплатна консултация и оферта.</i></h5>
    <h5><i>Ние сме тук, за да ви помогнем!</i></h5>
    <br>
    <div class="logo-container">
            
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="MR Glass Store Logo" class="logo">
            
        </div>
</section>
{% endblock %}
